@media (min-width:1152px){

    .divTitle{
        align-self: flex-start;
        margin-left: 49px;
    }

    .scrollbar{
        margin-top: 49px;
    }

    .expVRTitle{
        margin-bottom: 40px;
    }

    .exploreImg{
        width: 100%;
    }

    .moreInfo{
        width: calc(100% - 97px);
        margin-top: 32px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 28px;
        margin-left: 97px;
        align-self: flex-start;
    }

    .moreInfoTitle{
        align-self: flex-start;
        margin-left: 93px;
    }

    .moreInfoTitle .underline{
        display: none;
    }

    .infoCard{
        /* width: 299px; */
        height: 550px;
        width: 30%;
        

        display: flex;
        flex-direction: column-reverse; 
        align-items: center;
        /* justify-content: center; */
        justify-content: space-evenly;
    
        background-image: linear-gradient(to top, rgba(206, 148, 255, 0), rgba(100, 0, 186, 1));
        border-radius: 12.55px;
        /* background-color: rgba(100, 0, 186, 1); */
        /* padding: 3%; */
        text-align: center;
    }

    .infoCard h3{
        font-size: 1rem;
        font-weight: 700;
        color: white;
        margin-bottom: 22px;
        margin-top: -32px;
    }

    .infoCard p{
        font-size: 0.75rem;
        font-weight: 300;
        color: white;
        width: 70%;
        text-align: center;
        justify-self: center;
        margin-left: 15%;
    }

    .infoCard .mobileImg{
        display: none;
    }
    .infoCard .desktopImg{
        width: clamp(123.8px, 16.37vw + 62.41px ,251px);
        height: clamp(126.71px, 15.99vw + 66.72px ,251px);
        /* display: none; */
    }
}


.container{
    padding-bottom: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.divTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 56px;
}

.divTitle h2{
    font-size: clamp(1rem, 1.029vw + 0.758rem ,1.5rem);
    font-weight: 500;
    color: white;
}

.expVRTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 56px;
}

.expVRTitle h2{
    font-size: clamp(1rem, 2.57vw + 0.39rem ,2.25rem);
    font-weight: 500;
    color: white;
}

.underline{
    width:70%;
    height: 3px;
    background-color: white;
    border-radius: 50px;
}


.scrollbar{
    width: 279px;
    margin-bottom: 56px;
}

.vrImg{
    width:120%;
    margin-top: 28px;
    margin-bottom: 56px;
}

.exploreDiv{
    width: clamp(329px, 60.36vw + 102.64px ,798px);
    height: clamp(166px, 5.97vw + 144.28px,211px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap:14px;
    /* padding: 14px; */
    margin-top: 56px;
    margin-bottom: 84px;

    background-color: #2B2044;
    box-shadow: 0px 0px 8px rgba(240, 229, 229, 0.25);
    border-radius: 12px;
}

.exploreDiv h2{
    font-size: clamp(1rem, 1.54vw + 0.638rem ,1.75rem);
    font-weight: 500;
    color: white;
}

.exploreDiv p{
    font-size: clamp(0.875rem, 0.77vw + 0.69rem ,1.25rem);
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    /* width: 70%; */
}

.buttonDiv{
    /* width: 59px;
    height: 40px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
    font-size: 1.313rem;
}


.offButton{
    width: clamp(59px, 6.56vw + 34.38px , 110px);
    height: clamp(40px, 3.34vw + 27.45px ,66px);
    font-size: clamp(0.75rem, 0.77vw + 0.569rem ,1.125rem);
    border: 3px solid #7C91FF;
    border-radius: 8px;
    box-shadow: 4px 5px 0px #4A008F;
}

.onButton{
    width: clamp(59px, 6.56vw + 34.38px , 110px);
    height: clamp(40px, 3.34vw + 27.45px ,66px);
    font-size: clamp(0.75rem, 0.77vw + 0.569rem ,1.125rem);
    background-color: #3D0075;
    border: 3px solid #FF00F5;
    border-radius: 8px;
    box-shadow: 4px 5px 0px #4A008F;
    color: white;
}

.onButton, .offButton:hover{
    cursor: pointer;
}

.exploreImgDiv{
    width: clamp(333.63px, 82.218vw + 25.3px ,972.47px);
    /* width: 80%; */
    height: clamp(319px, 25.3vw + 225.37px ,513px);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-bottom: 28px;
}

.exploreImgDiv div{
    width: clamp(333.63px, 82.218vw + 25.3px ,972.47px);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

.exploreImgDiv div h1{
    font-size: clamp(2.25rem, 3.6vw + 1.4rem ,4rem);
    font-weight: 700;
    font-family: "Orbitron", sans-serif;
}

.exploreImgDiv div p{
    font-size: clamp(1rem, 2.05vw + 0.517rem ,2rem);
    font-weight: 300;
    color: white;
}

.exploreImg{
    height: clamp(319px, 25.3vw + 225.37px ,513px);
    margin-top: clamp(-513px, -25.3vw - 225.37px ,-319px);
}





.moreInfoTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 56px;
}

.moreInfoTitle h2{
    font-size: clamp(1.156rem, 1.22vw + 0.869rem , 1.75rem);
    font-weight: 700;
    color: white;
}



@media (max-width:1151px){
    .infoCard{
        width: 84%;
        display: flex;
        flex-direction: row;
        align-items: center; 
        justify-content: space-evenly;
        
        background-image: linear-gradient(to right, rgba(206, 148, 255, 0), rgba(100, 0, 186, 1));
        border-radius: 12.55px;
        
        padding: 3%;
    }

    .moreInfo{
        width: 100%;
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 28px;
    }

    .infoCard p{
        font-size: 0.75rem;
        font-weight: 300;
        color: white;
        width: 80%;
    }

    .infoCard .mobileImg{
        width: clamp(123.8px, 16.37vw + 62.41px ,251px);
        height: clamp(126.71px, 15.99vw + 66.72px ,251px);
    }
    .infoCard .desktopImg{
        /* width: clamp(123.8px, 16.37vw + 62.41px ,251px);
        height: clamp(126.71px, 15.99vw + 66.72px ,251px); */
        display: none;
    }
}

.infoCard h3{
    font-size: 1rem;
    font-weight: 700;
    color: white;
    margin-bottom: 22px;
}



@media (max-width:1151px){

    .container{
        background-repeat: no-repeat;
        background-position: top;
        background-size: 1221px 963.08px;

        background-image: url("data:image/svg+xml,%3Csvg width='375' height='964' viewBox='0 0 375 964' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.21' d='M215.949 3.2778H300.897C302.361 4.56104 302.85 5.84429 303.338 7.12754C304.802 12.2605 306.267 17.3935 307.732 22.5265C312.126 38.5671 317.008 55.8909 320.425 72.5731C322.378 82.8391 324.331 93.105 326.284 102.729C327.748 109.787 328.725 116.203 330.189 123.261C334.095 144.435 340.93 161.117 351.67 175.874C354.599 179.724 357.529 183.574 360.458 188.065C365.34 194.482 370.222 200.898 374.616 207.314C387.797 228.488 395.12 254.152 397.561 286.875L398.05 293.933C399.026 310.615 400.491 327.939 402.932 344.621C408.302 382.477 412.208 421.616 414.16 464.605C414.649 476.154 416.113 490.911 420.019 505.027C425.389 522.993 434.665 534.542 447.358 537.75C450.776 538.392 453.705 539.033 457.122 539.033C467.375 539.033 477.139 534.542 486.415 524.917C499.596 512.085 508.872 492.836 515.707 467.171C521.565 445.356 522.054 422.258 522.542 402.367C523.03 386.968 523.518 370.928 525.471 354.887C529.865 320.24 542.07 291.367 561.598 270.193C568.921 261.852 577.221 254.794 585.032 247.736L590.402 242.603C623.6 212.447 619.206 160.475 615.789 139.944C614.812 134.169 612.371 129.678 609.93 125.186C603.096 113.637 593.331 110.429 584.544 109.146C577.709 107.862 570.386 107.862 565.504 107.862C562.575 107.862 560.134 107.862 557.204 107.862C554.275 107.862 551.834 107.862 548.905 107.862C547.44 107.862 545.976 107.862 544.511 107.862C536.7 107.862 530.353 106.579 524.006 104.654C498.132 95.6715 475.674 76.4228 455.169 45.6249C448.823 36.0006 443.453 23.1681 438.571 7.12754C437.594 4.56104 437.594 3.2778 438.082 2.63617H478.115C479.58 3.91942 480.556 5.84429 481.533 8.41078C487.879 24.4514 494.714 36.6422 502.525 45.6249C518.148 62.9488 536.7 71.2899 560.133 71.2899C564.039 71.2899 568.433 71.2899 572.827 70.6482C585.032 69.365 597.725 68.0817 610.419 66.1569C618.718 64.8736 627.018 63.5904 635.317 61.0239C642.64 58.4574 647.034 52.6828 649.963 43.0584C652.404 34.7173 653.869 25.093 655.333 12.9021V10.9773C655.333 7.76916 655.822 5.20267 657.286 3.2778H694.878C696.343 4.56104 697.319 6.48591 698.296 8.41078C704.154 19.3184 710.501 26.3762 717.824 30.8676C724.659 34.7173 731.982 37.2838 738.816 39.8503H739.305C741.746 40.4919 743.699 41.1336 746.14 42.4168C754.927 45.6249 764.203 48.833 772.991 53.966C785.684 61.6655 793.495 70.0066 798.377 82.1974C807.165 102.729 810.094 125.828 807.653 149.568C803.748 185.499 791.054 211.164 769.085 227.204C750.533 240.678 731.493 248.378 716.359 254.152C713.43 255.436 710.501 256.077 708.06 257.361C698.295 260.569 688.531 264.418 679.255 270.193C662.656 279.817 652.404 297.141 648.987 321.523C647.034 333.072 647.034 345.263 647.034 356.812V363.228C647.034 374.136 648.499 385.685 650.94 399.159C658.263 434.449 674.374 463.322 700.248 486.42C714.406 498.611 729.052 508.235 744.187 517.86C747.604 520.426 751.51 522.351 754.927 524.917C768.597 533.9 782.755 544.166 796.425 556.999C802.771 562.773 809.118 569.831 813.024 579.455V699.439C812.535 699.439 811.559 698.156 811.071 697.514C810.583 696.872 810.094 696.231 809.606 696.231C798.866 683.398 790.078 673.132 782.267 663.508C767.132 644.259 753.951 622.444 738.328 596.779C724.658 574.322 713.43 557.64 701.713 542.883C698.784 539.675 695.854 535.825 693.413 532.617C683.161 520.426 672.909 506.952 663.145 493.478C653.381 479.362 644.593 462.68 637.27 442.79C627.506 417.125 623.112 388.893 619.694 364.512L618.23 361.304C616.765 348.471 614.812 335.639 611.395 323.448C607.978 312.54 601.631 306.124 593.82 306.124C592.355 306.124 590.402 306.124 588.938 306.766C585.032 308.049 581.126 309.974 576.732 313.182C563.551 322.806 557.693 339.488 553.787 354.887C548.905 372.853 547.928 391.46 546.464 410.067L545.976 418.408C544.023 453.056 536.211 485.778 523.518 514.652C513.754 536.467 501.549 553.791 487.391 565.34C474.698 575.606 460.54 580.739 444.429 580.739C437.106 580.739 430.759 580.097 422.948 578.172C408.302 574.964 398.538 564.056 394.144 545.449C391.703 534.542 391.215 522.993 390.727 513.368C390.238 503.744 390.238 494.12 389.75 484.495C389.75 473.588 389.262 462.68 388.774 451.772C387.797 428.674 384.38 406.217 378.521 384.402C372.663 362.587 364.852 340.13 354.111 312.54C343.859 286.875 331.654 268.91 316.031 258.644C308.22 253.511 301.385 249.661 295.038 249.661C286.739 249.661 279.904 256.077 272.581 271.476C260.864 295.216 248.659 315.748 235.966 334.997C224.249 352.321 211.067 369.003 191.539 389.535C174.94 406.859 163.711 424.183 155.9 444.073C154.435 449.848 151.994 455.622 150.042 462.038C147.112 469.738 144.183 478.079 140.766 486.42C128.561 515.935 112.938 534.542 92.9216 543.525C87.0632 546.091 80.7165 548.016 74.3698 550.582C65.5821 553.79 56.7945 557.64 48.0068 562.132C19.2027 576.247 1.13916 599.346 -7.64853 633.352C-13.507 655.809 -14.9716 675.057 -12.5306 693.664C-10.0896 710.347 -4.7193 726.387 4.55661 740.503C22.6202 769.376 37.7545 797.607 50.936 827.122C55.8181 837.388 59.7237 845.729 64.1175 852.787C73.3934 866.903 83.1575 873.96 94.8744 873.96H96.3391C112.938 873.319 128.072 863.695 143.695 843.804C155.9 829.047 163.223 809.157 170.546 789.908L171.034 788.625C181.775 760.393 194.956 736.653 210.579 718.046C226.201 699.439 241.824 680.832 257.447 662.225C266.234 651.959 275.022 641.693 283.81 630.785C301.873 609.612 319.937 599.346 339.465 599.346C340.93 599.346 342.394 599.346 343.859 599.346C357.529 600.629 366.804 605.762 374.128 617.311C379.01 625.011 382.915 633.352 386.821 643.618C388.774 649.392 390.726 654.525 392.679 659.658C399.026 678.265 406.349 696.872 414.648 714.196C423.924 733.445 433.689 746.277 444.917 755.26C454.681 762.96 464.445 766.809 473.721 766.809C480.068 766.809 485.926 764.884 492.273 761.676C498.62 758.468 503.99 754.619 508.872 750.769C512.289 748.202 515.219 745.636 518.636 743.069C526.447 736.653 534.747 729.595 543.535 723.821C556.228 715.48 568.921 711.63 582.103 711.63C587.473 711.63 593.332 712.271 599.19 714.196C624.088 720.613 641.664 745.636 646.057 780.925C648.01 793.758 648.01 808.515 646.057 825.839C643.616 855.353 629.458 876.527 608.954 882.943C597.237 886.151 585.52 886.793 573.803 887.435C568.433 887.435 563.063 888.076 558.181 888.718C555.252 888.718 552.322 888.718 549.393 888.718C544.999 888.718 540.117 888.718 535.235 890.001C513.754 893.851 497.643 906.683 486.415 927.857C482.509 935.556 479.092 943.897 475.674 954.805C474.698 957.372 473.721 959.296 472.257 960.58H420.995C420.507 959.296 420.019 958.655 420.019 958.013C420.019 955.447 419.531 952.88 419.531 950.314C419.531 947.747 419.042 945.181 419.042 941.973C419.042 922.724 419.531 899.625 422.948 877.169C424.901 863.053 422.948 849.579 417.09 836.105C411.719 822.631 406.349 807.873 400.979 789.266C399.026 782.85 397.073 775.792 395.12 769.376C389.75 750.769 383.892 731.52 377.057 713.555C370.222 695.589 363.875 682.757 356.552 672.491C347.765 660.3 337.512 653.884 325.795 653.884C325.307 653.884 324.331 653.884 323.842 653.884C313.59 654.525 303.826 659.017 294.062 667.358C280.392 678.907 267.699 692.381 255.006 705.214L246.706 713.555C234.501 725.745 223.272 740.503 213.02 756.543C201.303 775.151 193.98 797.607 187.633 818.781C177.381 852.145 163.223 882.302 143.207 911.816C135.395 923.365 127.096 937.481 123.679 956.73C123.19 959.296 122.702 960.58 121.237 961.863H62.6529C61.6765 960.58 60.7001 959.296 60.2119 957.372C55.8181 941.331 48.0068 927.857 36.2899 916.308L31.4078 911.175C21.1555 900.909 10.415 890.001 1.13913 877.81C-13.0188 859.203 -25.7121 838.671 -37.9172 814.29C-48.6577 792.474 -60.8629 775.792 -75.0208 761.676C-81.3674 755.26 -87.7141 747.561 -95.0372 737.295C-106.754 721.254 -117.983 703.289 -128.723 685.965C-132.141 680.19 -135.558 675.057 -138.976 669.283C-148.74 653.242 -156.063 639.126 -161.433 624.369C-174.126 587.797 -177.056 548.658 -178.52 515.293C-179.008 492.836 -177.056 469.096 -171.685 440.865C-168.268 422.899 -165.339 403.009 -165.827 382.477C-166.803 351.679 -172.662 323.448 -183.89 298.424C-195.119 274.684 -212.206 262.494 -234.176 262.494C-235.152 262.494 -236.128 262.494 -237.593 262.494C-251.751 263.135 -265.909 268.268 -280.067 278.534C-291.784 286.234 -302.524 296.5 -314.729 308.69C-339.14 333.714 -366.967 349.754 -399.189 357.454C-399.677 357.454 -400.165 357.454 -400.653 358.095C-401.63 358.095 -402.606 358.737 -403.094 358.737C-403.583 358.737 -404.071 358.737 -404.559 358.095V291.367C-403.583 290.725 -403.094 290.083 -402.606 290.083C-399.677 290.083 -397.236 289.442 -395.283 289.442C-393.33 289.442 -391.377 288.8 -389.913 288.8C-379.172 288.158 -368.92 286.234 -359.644 282.384C-347.439 277.893 -335.722 270.193 -324.493 263.135C-320.588 260.569 -317.17 258.644 -313.753 256.077C-287.878 240.037 -263.468 232.337 -239.058 232.337C-232.223 232.337 -225.388 232.979 -218.553 234.262C-197.072 238.112 -180.473 252.869 -169.244 279.817C-159.48 301.633 -152.645 327.939 -147.275 361.945C-143.858 382.477 -143.369 401.084 -145.322 418.408C-146.299 430.599 -148.251 442.148 -150.204 453.697C-151.181 458.189 -151.669 462.038 -152.645 466.53C-157.527 494.12 -158.504 519.143 -156.063 544.166C-150.693 595.496 -132.141 634.635 -100.407 659.017C-92.108 665.433 -84.2967 668.641 -77.4618 668.641C-66.7213 668.641 -57.4454 660.942 -48.6577 646.184C-42.3111 635.918 -37.429 624.369 -32.547 613.461C-30.5942 609.612 -28.6413 605.12 -27.1767 601.271C-13.9952 573.039 4.55655 551.224 27.5022 536.467C37.2663 530.692 47.0304 525.559 56.3062 520.426C62.1647 517.218 67.535 514.651 73.3934 511.443C100.245 496.044 114.891 471.021 119.285 433.807C121.237 416.483 122.214 398.518 121.726 380.552C121.726 374.136 122.214 367.078 123.679 360.662C126.12 347.829 131.978 340.772 141.254 338.847C145.16 337.563 149.553 337.564 153.459 337.564H155.412H157.365H158.829C174.94 337.564 190.074 327.939 200.815 311.257C212.532 292.65 217.902 268.268 214.973 243.886C211.555 214.372 203.256 187.424 195.445 163.684C193.98 159.192 192.515 154.701 191.051 150.21C186.169 134.811 180.799 119.412 177.381 102.729C172.011 78.9893 173.475 60.3823 182.263 43.7001C187.145 34.0757 193.492 26.3762 199.35 19.3184C200.815 17.3935 202.768 15.4686 204.232 13.5438C208.138 9.69403 211.555 5.20267 215.949 3.2778ZM215.949 0.711304C208.626 3.2778 204.232 12.2605 198.862 18.0351C192.515 25.093 186.169 32.7925 181.287 42.4168C171.523 61.6655 171.523 82.1975 176.405 103.371C181.287 124.545 188.122 143.793 194.468 164.325C202.279 189.99 210.579 216.297 213.508 244.528C218.878 292.008 193.004 334.997 159.318 334.997C158.829 334.997 158.341 334.997 157.853 334.997C156.388 334.997 154.924 334.997 153.459 334.997C149.065 334.997 145.16 334.997 141.254 336.28C131.002 338.847 125.143 346.546 122.214 360.02C120.749 366.437 120.261 373.494 120.261 380.552C120.261 398.518 119.773 415.842 117.82 433.807C113.426 471.663 97.8037 495.403 72.9052 509.518C57.2827 517.86 41.6602 524.917 27.014 534.542C4.06839 548.657 -14.4834 570.473 -28.6414 599.987C-35.4762 614.745 -42.3111 630.785 -50.1223 644.901C-58.4218 659.658 -67.2095 666.716 -76.9736 666.716C-83.8085 666.716 -91.1315 663.508 -98.9428 657.733C-130.676 632.71 -148.74 594.213 -154.11 544.166C-156.551 517.86 -155.086 492.836 -150.693 467.171C-147.763 451.131 -144.834 435.09 -142.881 419.05C-140.928 399.801 -141.905 380.552 -144.834 361.945C-149.716 332.431 -155.575 304.199 -166.803 278.534C-178.52 252.228 -195.607 236.187 -217.577 232.337C-224.9 231.054 -231.735 230.412 -238.569 230.412C-264.444 230.412 -289.831 239.395 -314.241 254.152C-329.375 263.135 -344.022 274.043 -360.132 279.817C-369.896 283.667 -380.149 285.592 -389.913 286.234C-394.307 286.234 -398.212 287.517 -402.606 287.517C-402.606 287.517 -402.606 287.517 -403.094 287.517C-404.559 287.517 -406.024 288.8 -407 290.083C-407 313.182 -407 336.28 -407 359.379C-406.024 360.662 -404.559 361.304 -403.583 361.304C-402.118 361.304 -400.653 360.662 -399.189 360.02C-367.944 352.321 -339.14 336.922 -313.265 310.615C-302.524 299.708 -291.295 288.8 -279.09 280.459C-265.909 271.476 -251.751 265.06 -237.105 264.418C-236.128 264.418 -235.152 264.418 -233.687 264.418C-213.671 264.418 -197.072 274.684 -185.355 299.708C-174.126 324.731 -168.268 352.962 -167.78 382.477C-167.291 402.367 -170.221 420.975 -173.638 439.582C-178.52 464.605 -181.449 489.628 -180.473 515.293C-179.008 553.149 -175.591 590.363 -162.898 624.369C-157.039 641.051 -148.74 655.809 -140.44 669.924C-125.794 693.023 -112.124 716.763 -96.5018 737.936C-90.1552 746.919 -83.3203 755.26 -75.9972 762.318C-61.351 776.434 -49.6341 793.758 -39.3818 814.29C-27.6649 837.388 -14.9716 858.562 0.16275 878.452C10.9033 892.568 23.1084 904.758 35.3135 916.949C45.5658 927.215 53.8653 940.048 58.7473 956.73C59.7237 959.296 61.1883 961.221 62.6529 963.146C82.6693 963.146 102.686 963.146 122.702 963.146C124.655 961.221 125.631 959.296 126.12 956.088C129.537 938.764 136.86 924.649 145.16 912.458C163.711 884.868 179.334 854.07 190.074 818.781C196.909 796.966 204.232 775.151 215.461 757.185C225.225 741.145 236.454 727.029 248.659 714.838C264.281 698.797 279.416 682.757 296.015 668.641C304.802 660.942 314.567 656.45 324.819 655.809C325.307 655.809 326.283 655.809 326.772 655.809C338 655.809 348.253 662.225 356.064 673.774C364.363 685.323 370.71 699.439 376.569 714.196C385.844 738.578 392.679 764.243 400.491 789.908C405.373 805.948 410.743 821.989 417.09 837.388C422.46 849.579 424.413 862.411 422.46 877.169C419.531 898.984 419.042 920.799 418.554 942.614C418.554 948.389 419.531 953.522 419.531 958.655C419.531 961.221 420.507 962.504 421.483 963.788C439.059 963.788 456.634 963.788 474.209 963.788C476.651 962.504 477.627 959.938 478.603 956.73C481.533 947.747 484.95 938.123 489.344 930.423C501.061 907.967 517.66 897.059 536.7 893.209C544.023 891.926 551.834 892.568 559.645 891.926C576.732 890.001 593.82 891.284 610.907 886.151C631.9 879.735 647.034 858.562 649.475 827.122C650.94 811.723 651.428 796.324 649.475 780.925C644.593 744.994 627.018 718.688 601.143 711.63C595.284 709.705 589.426 709.063 584.056 709.063C570.386 709.063 557.693 713.555 544.999 721.896C532.794 729.595 522.054 739.861 510.337 748.844C504.966 753.335 499.596 756.543 493.738 759.752C487.879 762.96 482.021 764.885 476.162 764.885C466.398 764.885 457.611 761.035 448.335 753.335C436.13 743.711 426.854 729.595 418.554 713.555C407.814 691.098 399.514 666.716 390.727 642.976C387.309 633.352 382.915 624.369 377.545 616.028C368.757 602.554 358.017 598.062 345.812 597.421C344.347 597.421 342.882 597.421 340.93 597.421C318.96 597.421 300.409 610.253 283.81 629.502C259.399 658.375 234.989 687.248 210.579 716.121C193.98 736.012 180.798 760.393 170.546 787.341C163.223 807.232 155.412 827.122 143.695 841.879C130.513 858.562 115.867 870.752 97.8037 871.394C97.3155 871.394 96.8273 871.394 96.3391 871.394C84.6221 871.394 74.8581 863.695 67.0468 851.504C60.7001 843.163 56.7945 834.821 52.8888 825.839C39.2191 795.041 23.1084 766.168 6.02118 739.22C-2.27829 725.746 -8.13678 710.988 -10.5778 693.664C-13.0188 673.132 -10.5778 653.884 -5.69571 634.635C4.06836 598.062 23.5965 577.531 48.495 564.698C63.6293 556.999 78.7637 552.507 93.8981 545.449C115.867 535.183 131.49 514.651 142.719 487.062C148.577 473.588 152.971 458.83 158.341 444.715C166.641 422.899 179.334 406.217 193.492 391.46C209.114 374.778 224.737 356.812 237.918 336.28C251.1 316.39 263.305 294.575 274.534 272.118C281.857 257.361 288.204 251.586 295.527 251.586C301.385 251.586 307.732 254.794 315.543 260.569C332.63 272.118 343.859 290.725 352.647 313.823C361.922 336.922 370.222 360.02 377.057 385.044C382.915 406.859 386.333 428.674 387.309 451.772C388.286 472.304 388.285 492.836 389.262 513.368C389.75 524.276 390.727 535.183 393.167 546.091C397.073 567.265 408.302 578.172 422.948 580.739C429.783 582.022 437.106 583.305 443.941 583.305C459.075 583.305 474.209 578.814 487.879 567.906C503.502 555.074 515.219 537.75 524.983 516.576C538.164 487.062 545.487 454.339 547.928 419.691C549.393 398.518 549.881 377.344 555.74 356.812C560.133 340.13 565.992 325.373 577.709 316.39C581.615 313.823 585.032 311.257 589.426 309.974C590.89 309.332 592.355 309.332 593.82 309.332C601.143 309.332 606.513 314.465 609.442 324.731C613.348 337.564 614.812 351.679 616.765 365.153C620.183 392.743 624.577 419.691 634.341 444.073C641.664 462.68 649.963 480.004 660.704 494.761C672.909 512.727 686.579 528.126 699.76 544.166C712.942 560.207 724.658 578.814 735.887 597.421C749.557 621.161 764.203 644.259 779.826 664.791C788.613 676.341 797.889 687.248 807.165 698.156C808.63 699.439 810.094 702.647 812.047 702.647C812.535 702.647 813.024 702.647 814 702.005C814 660.942 814 619.878 814 579.455C809.606 569.19 803.26 562.132 796.425 555.715C783.243 542.883 769.085 532.617 754.927 522.993C736.375 510.802 717.824 499.894 700.736 484.495C677.303 463.963 659.727 437.015 651.916 399.159C649.475 387.61 648.01 376.061 648.01 363.87C648.01 350.396 647.522 336.28 649.963 322.806C653.381 298.424 663.145 282.384 679.255 272.76C690.484 265.702 703.178 261.852 715.871 257.361C733.934 250.303 751.998 241.962 769.085 229.771C792.519 213.089 804.724 186.14 808.63 150.851C811.071 126.469 808.142 103.371 799.354 81.5558C793.495 66.7985 783.731 58.4574 772.991 52.0412C762.25 45.6249 750.533 42.4168 739.305 37.9254C731.982 35.359 725.147 32.7925 717.824 28.9427C710.012 24.4514 704.154 16.7519 699.272 7.76916C697.807 5.20267 696.343 2.63617 694.39 0.711304C681.208 0.711304 668.027 0.711304 655.333 0.711304C652.892 3.91942 652.892 8.41078 652.404 12.9021C651.428 23.1681 649.963 32.7925 647.522 42.4168C645.081 51.3995 640.687 56.5325 634.341 58.4574C626.041 61.6655 618.23 62.3071 609.93 63.5904C597.237 65.5153 584.544 66.7985 572.339 68.0817C568.433 68.7234 564.039 68.7234 560.133 68.7234C539.629 68.7234 520.589 62.9488 503.502 43.7001C494.714 33.4341 488.367 21.2432 482.997 7.12754C481.044 5.20267 480.068 2.63617 477.627 0.711304C463.957 0.711304 450.288 0.711304 436.618 0.711304C434.665 3.2778 435.153 5.84429 436.13 8.41078C440.035 22.5265 445.405 36.6422 452.729 48.1914C472.257 77.0645 494.714 98.238 522.542 107.862C529.377 110.429 536.211 111.07 543.535 111.07C544.999 111.07 546.464 111.07 547.928 111.07C553.299 111.07 559.157 111.07 564.527 111.07C570.874 111.07 577.221 111.07 583.567 112.354C592.843 114.279 601.631 116.845 607.978 127.753C610.419 131.602 612.371 136.094 613.348 141.227C619.206 175.874 615.301 216.938 588.938 241.32C579.174 250.303 569.409 258.644 560.133 268.91C539.629 290.725 527.912 320.24 523.03 355.529C521.077 371.57 520.589 387.61 520.101 403.651C519.613 425.466 518.636 447.281 513.266 467.813C507.407 490.27 499.108 510.16 484.95 524.276C476.162 533.259 466.886 537.75 456.634 537.75C453.705 537.75 450.287 537.108 447.358 536.467C434.665 532.617 426.365 521.068 421.483 505.027C417.578 492.195 416.113 478.721 415.625 465.246C413.672 424.824 410.255 385.044 404.396 344.621C401.955 325.373 400.491 306.124 399.514 286.875C397.561 256.719 390.727 229.129 376.08 206.031C368.757 195.123 360.946 184.857 353.135 174.591C342.882 159.834 336.048 143.152 332.142 123.261C328.724 106.579 326.284 89.2553 322.866 72.5731C317.984 50.1163 311.637 28.9427 305.779 6.48591C304.802 3.91942 303.338 1.99455 301.385 0.711304C273.069 0.711304 244.265 0.711304 215.949 0.711304Z' fill='%235200FF'/%3E%3C/svg%3E%0A");
    }
}


