.card{
    display: flex;
    flex-direction: column;
    width: 224px;
    /* gap: 28px; */
}

.icon{
    width:67px;
    height: 71px;
    border-radius: 13px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 3px 4px 4px #FF0F0F40; */
}

.icon img{
    width: 50%;
    height: 50%;
}

.card h3{
    margin-top: 28px;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 700;
}

.card p{
    font-size: 0.875rem;
    font-weight: 400;
}